# Numbers, text and dates
In the computer world, numbers are numbers you can add, subtract, multiply, and divide. Python differentiates
between whole numbers (called integers) and numbers that contain a decimal point (called floats). Words (textual information like names and addresses) are stored as strings, which is short for “a string of characters.”

In addition to numbers and strings, there are Boolean values, which can be either True or False, but nothing else. In real life, we also have to deal with dates and times, which are yet another type of information. Python doesn’t actually have any built-in data type for dates and times, but thankfully, a free module you can import any time works with such information.

## Functions
A function in Python allows us to pass something into it, and the function passes something back. For example,
most calculators and programming languages have a square root function: You give it a number, and it gives back the square root of that number.

Python functions generally have the syntax:

`variablename = functioname(param,[param])`

Because most functions return some value, you typically start by defining a variable to store what the function returns. Follow that with an = sign and the function name, followed by a pair of parentheses. Inside the parentheses you may
pass one or more values (called parameters or arguments) to the function.

For example, the `abs()` function accepts one number and returns the absolute value of that number. In other
words, the `abs()` function simply converts negative numbers to positive numbers.

Here's a basic example of using the `abs()` function using Jupyter notebook.

In [1]:
number = -5
result = abs(number)
print(result)

5

There are some functions that accept two or more values. For example, the `round()` function takes one number as its first argument. The second value is the number of decimal places to which you want to round that number to. 

Here's an example

In [2]:
number = 3.556645647645634234234
rounded_number = round(number, 3)
print(rounded_number)

3.557

Python has many built-in functions for working with numbers, as shown in the table below.

| function | Purpose |
|----------|---------|
| abs(x) | Returns the absolute value of number x (converts negative numbers to positive)|
| bin(x) | Returns a string representing the value of x converted to binary.|
| float(x)| Converts a string or number x to a the float data type|
| hex(x) | Returns a string containing x converted to hexadecimal, prefixed with 0x|
| int(x) | Converts x to the integer data type by truncating (not rounding) the decimal point and any digits after it.|
| max(x,y,z ...) | Takes any number of numeric arguments and returns whichever one is the largest|
| min(x,y,z ...) | Takes any number of numeric arguments and returns whichever one is the smallest|
| oct(x) | Converts x to an octal number, prefixed with 0o to indicate octal|
| round(x,y) | Rounds the number x to y number of decimal places|
| str(x) | Converts number x to the string data type|
| type(x) | Returns a string indicating the data type of x.|

## More Maths functions

The built-in math functions are handy, but there are still others you can import from the `math` module. If you need them in an app, put `import math` near the top of your Jupyter cell to make those functions available to the rest of the
code.
One of the functions of the math module is the `sqrt()` function that gets the square root of a number. Because it’s part of the math module, you cannot use it without importing the module first. 

For example, if you enter this code, we get the following error:

In [3]:
print(sqrt(81))

NameError: name 'sqrt' is not defined

To use a function from a module, you have to import the module and precede the function name with the module name and a dot. 

For example, if we want to find the the square root of a number, we need to import the math module and use `math.sqrt(x)` to get the correct answer.

In [ ]:
import math
number = 49
print(math.sqrt(number))

Here's a lits of other functions we can apply using he `math` module.

| function | Purpose |
|----------|---------|
|math.acos(x)| Returns the arc cosine of x in radians.|
|math.atan(x)| Returns the arc tangent of x, in radians.|
|math.atan2(y, x)| Returns atan(y / x), in radians.|
|math.ceil(x)| Returns the ceiling of x, the smallest integer greater than or equal to x.|
|math.cos(x)| Returns the cosine of x radians.|
|math.degrees(x)| Converts angle x from radians to degrees.|
|math.e| Returns the mathematical constant e (2.718281 . . .).|
|math.exp(x)| Returns e raised to the power x, where e is the base of natural logarithms.|
|math.factorial(x)| Returns the factorial of x.|
|math.floor()| Returns the floor of x, the largest integer less than or equal to x.|
|math.isnan(x)| Returns True if x is not a number, otherwise returns False.|
|math.log(x,y)| Returns the natural logarithm of x to base y.|
|math.log2(x)| Returns the base-2 logarithm of x.|
|math.pi| Returns the mathematical constant pi (3.141592 . . .).|
|math.pow(x, y)| Returns x raised to the power y.|
|math.radians(x)| Converts angle x from degrees to radians.|
|math.sin(x)| Returns the arc sine of x, in radians.|
|math.sqrt(x)| Takes any number of numeric arguments and returns whichever one is the smallest.|
|math.tan(x)| Returns the tangent of x radians.|
|math.tau()| Returns the mathematical constant tau (6.283185 . . .).|

## Formatting numbers
Over the years Python has offered different methods for displaying number output. For example, we may prefer it display
$1,234.56 rather than 1234.560065950695405695405959. As of version 3.6 of Python, f-strings seem to the fastest, easiest, and most preferred method of achieving this. We will use f-strings throughout this module for number presentation.

### Formatting with f-strings
F-string formatting is relatively simple to do. All you need is a **lowercase or uppercase f** followed immediately by some text or expressions enclosed in quotation marks. 

For example:

In [ ]:
username = "James"
print(f"Hello {username}")

The **f** before the first quotation mark tells Python that what follows is a **format string (f-string)**. Inside the quotation marks, the text, called the **literal** part, is displayed literally (exactly as typed in the f-string). 

Anything in curly braces is the expression part of the f-string. The expression part is a placeholder for what’s
actually going to show there when the code executes. Inside the curly braces you can have an expression (a formula to perform some calculation, a variable name, or a combination of the two).

Here is another example where we have an expression — the formula quantity times unit_price — inside the curly braces.

In [ ]:
unit_price = 49.99
quantity = 30
print(f"Subtotal: {quantity * unit_price}")

### Showing currency amounts
To get a comma to show in the pound amount and the pennies to be two digits, we can use a format string inside the curly braces of an expression in an f-string. The format string starts with a colon and needs to be placed inside the closing curly brace, against the variable name or the value being shown.
To show commas in thousands places, use a comma in your format string right after the colon, like this:

In [ ]:
unit_price = 49.99
quantity = 30
print(f"Subtotal: {quantity * unit_price:,}")

To get the pennies to show as two digits, follow the comma with 2f. The .2f means “two decimal places, fixed” (never any more or less than two
decimal places). So here’s how the code looks to show the number with commas and two decimal places:

In [4]:
unit_price = 49.99
quantity = 30
print(f"Subtotal: {quantity * unit_price:,.2f}")

Subtotal: 1,499.70

### Formatting percent numbers
Now, suppose your app applies sales tax. This app needs to know the sales tax rate, which should be expressed as a decimal number. So if the sales tax rate is 6.5 percent, then it has to be written as 0.065 (or .065, if you prefer) in your code, like this:

In [5]:
sales_tax_rate = 0.065
print(f"Sales Tax Rate {sales_tax_rate}")

Sales Tax Rate 0.065

When displaying the sales tax rate for people to read, you’ll probably want to use the more familiar 6.5% format rather than .065. You can use the same idea as with fixed numbers (.2f); however, don’t use the f for “fixed numbers.” Instead
replace that with a % sign, like this:

In [6]:
sales_tax_rate = 0.065
print(f"Sales Tax Rate {sales_tax_rate:.2%}")

Sales Tax Rate 6.50%

In these examples, we used 2 for the number of digits. But of course you can display any number of digits you want, from zero (none) to whatever
level of precision you need. For example, using 1.%, or 9.% as in the following:

In [7]:
sales_tax_rate = 0.065
print(f"Sales Tax Rate {sales_tax_rate:.1%}")

Sales Tax Rate 6.5%

In [8]:
sales_tax_rate = 0.065
print(f"Sales Tax Rate {sales_tax_rate:.9%}")

Sales Tax Rate 6.500000000%

## Making multiline format strings
If you want to have line breaks in your format strings for multiline output, you can use `/n`, or triple quotation marks

In [9]:
user1 = "John"
user2 = "Mary"
user3 = "James"
output=f"{user1} \n{user2} \n{user3}"
print(output)

John
Mary
James

If you use triple quotation marks around your format string, then you don’t need to use `\n`. You can just break the line in the format string wherever you want it to break in the output. 

In this example, the format string is in triple quotation marks and contains multiple line breaks. The output from running the code has line breaks in all the same places.

In [10]:
user1 = "John"
user2 = "Mary"
user3 = "James"
output=f"""
First user = {user1}
Second user = {user2}
Third user = {user3}
"""
print(output)

First user = John
Second user = Mary
Third user = James

### Formatting width and alignment
You can also control the width of your output (and the alignment of content within that width) by following the colon in your f-string with < (for left-aligned), (for centered), or > (for right-aligned). Put any of these characters right after the colon in your format string.

In [11]:
user1 = "John"
user2 = "Mary"
user3 = "James"
output=f"""
First user = {user1:>20}
Second user = {user2:>20}
Third user = {user3:>20}
"""
print(output)

First user =                 John
Second user =                 Mary
Third user =                James

## Manipulating strings
You can join strings together using a **+** sign. This is commonly called **string concatenation**. For example, in the following code, the full_name is a concatenation of the first three strings.

In [12]:
first_name = "James"
middle_init = "P"
last_name = "Connolly"
full_name = first_name+middle_init+last_name
print(full_name)

JamesPConnolly

There is nothing wrong with this output except that we usually put spaces between words and between parts of a person’s name.
Because Python won’t automatically put in spaces where you think they should go, you’ll have to put them in yourself. The easiest way to represent a single space is by using a pair of quotation marks with one space between them, like this:

In [13]:
first_name = "James"
middle_init = "P"
last_name = "Connolly"
full_name = first_name + " " + middle_init + " " + last_name
print(full_name)

James P Connolly

### String length
To determine how many characters are in a string, use the built-in len() function (short for length). The length includes spaces because spaces are characters, each one having a length of one. An empty string — that is, a string with nothing in it, not even a space — has a length of zero.

In [14]:
s1 = ""
s2 = " "
s3 = "A B C"
print(len(s1))
print(len(s2))
print(len(s3))

0
1
5

### Working with common string operators
Python offers several operators for working with sequences of data. The first character counts as zero, not one.

Here's a summary of operators that can be used with strings

| Operator | Purpose |
|----------|---------|
|x in s| Returns True if x exists somewhere in string s.
|x not in s| Returns True if x is not contained within string s.
|s * n or n * s |Repeats string s n times.
|s[i] |The ith item of string s where the first character is 0.
|s[i:j]| A slice from string x beginning with the character at position i through to the character at position j.
|s[i:j:k]| A slice of s from i to j with step k.
|min(s)| The smallest (lowest) item of string s.
|max(s)| The largest (highest) item of string s.
|s.index(x[, i[, j]])| The numeric position of the first occurrence of x in string s. The optional i and j let you limit the search to the characters from i to j.
|s.count(x)| The total number of times string x appears in larger string s.

## Working with dates

`Datetime.date` is ideal for working with dates when time isn’t an issue. There are two ways to create a date object: You can use the `today()` method, which gets today’s date from the computer’s internal clock using the `today()` method. 

Or you can specify a year, month, and day (in that order) inside parentheses. When specifying the month or day, never use a leading zero for `datetime.date()`. For example, April 1 2020 has to be expressed as 2020,4,1 — if you type
2020,04,01, it won’t work.
For example, after importing the datetime module, you can use `date.today()` to get the current date from the computer’s internal clock. Or use date(year, month, day) syntax to create a date object for some other date:

In [15]:
# Import the datetime module, nickname dt
import datetime as dt
# Store today's date in a variable named today.
today = dt.date.today()
# Store some other date in a variable called New Years Eve
new_years_eve = dt.date(2019,12,31)
print(today)
print(new_years_eve)

2020-02-09
2019-12-31

We can isolate any part of a date object using `.month`, `.day`, or `.year`. For example:

In [16]:
print(new_years_eve.day)
print(new_years_eve.month)
print(new_years_eve.year)

31
12
2019

The default date display is yyyy-mm-dd, but you can format dates and times however you want. Use f-strings, which
we discuss earlier, along with the directives shown in this table.

| Directive | Description | Example |
|-----------|-------------|---------|
|%a | Weekday, abbreviated |Sun|
|%A |Weekday, full |Sunday|
|%w |Weekday number 0-6, where 0 is Sunday |0|
|%d |Number day of the month 01-31 |31|
|%b |Month name abbreviated |Jan|
|%B |Month name full |January|
|%m |Month number 01-12 |01|
|%y |Year without century |19|
|%Y |Year with century |2019|
|%H |Hour 00-23 |23|
|%I |Hour 00-12 |11|
|%p |AM/PM |PM|
|%M |Minute 00-59 |01|
|%S |Second 00-59 |01|
|%f |Microsecond 000000-999999 |495846|
|%z |UTC offset| -0500|
|%Z |Time zone |EST|
|%j |Day number of year 001-366 |300|
|%U |Week number of year, Sunday as the first day of week, 00-53 |50|
|%W |Week number of year, Monday as the first day of week, 00-53 |50|
|%c |Local version of date and time |Tue Dec 31 23:59:59 2018|
|%x |Local version of date |12/31/18|
|%X |Local version of time |23:59:59|
|%% |A % character |%|

When using format strings, make sure you put spaces, slashes, and anything else you want between directives where you want those to appear in the output. For example

In [17]:
print(f"{new_years_eve:%A, %B %d, %Y}")

Tuesday, December 31, 2019

To show the date in the mm/dd/yyyy format, use `%m/%d/%Y`, like this:

In [18]:
todays_date = f"{today:%d/%m/%Y}"
print(todays_date)

09/02/2020

### Working with times
If you want to work strictly with time data, use the `datetime.time` class. The basic syntax for defining a time object using the time class is

`variable = datetime.time([hour,[minute,[second,[microsecond]]]])`

Often you want to pinpoint a moment in time using both date and time. For that, use the `datetime` class of the datetime module. This class supports a `now()` method that can grab the current date and time from the computer
clock

In [19]:
import datetime as dt
right_now = dt.datetime.now()
print(right_now)

2020-02-09 15:08:40.324640

You can also define a datetime using any the parameters shown below. The month, day, and year are required. The rest are optional and set to zero in the time if you omit them.

Here is an example using 11:59 PM on December 31 2019:

In [20]:
import datetime as dt
new_years_eve = dt.datetime(2019,12,31,23,59)
print(new_years_eve)

2019-12-31 23:59:00

This table shows examples of formatting the datetime

| Format String | Example |
|---------------|---------|
|%A, %B %d at %I:%M%p| Tuesday, December 31 at 11:59PM|
|%m/%d/%y at %H:%M%p |12/31/19 at 23:59|
|%I:%M %p on %b %d| 11:59 PM on Dec 31|
|%x |12/31/19|
|%c| Tue Dec 31 23:59:00 2019|
|%m/%d/%y at %I:%M %p| 12/31/19 at 11:59 PM|
|%I:%M %p on %m/%d/%y| 1:59 PM on 12/31/2019|

### Calculating timespans
Sometimes just knowing the date or time isn’t enough. Sometimes you need to know the duration or timespan as it’s typically called in the computer world. In
other words, not the date, not the o’clock, but the “how long” in terms of years, months, weeks, days, hours, minutes, or whatever. For timespans, the Python
datetime module includes the datetime.timedelta class.

A timedelta object is created automatically whenever you subtract two dates, times, or datetimes to determine the duration between them. For example, suppose you create a couple of variables to store dates, perhaps one for New Year’s
Day, another for todays date. Then you create a third variable named `days_between` and put in it the difference you get by subtracting the earlier date from the later date, as follows:

In [21]:
import datetime as dt
new_years_day = dt.datetime(2020,1,1)
todays_date = dt.datetime.now()
days_between = todays_date - new_years_day
print(days_between)

39 days, 15:08:40.387602

You don’t always need microseconds or even seconds in your timedelta. For example, say you’re trying to determine somebody’s age. You could start by creating two dates, one named `today` for today’s date and another named `birthdate` that contains the birthdate. The following example uses the birthdate of Jan 31, 2000:

In [22]:
import datetime as dt
today = dt.date.today()
birthdate = dt.date(2000, 12, 31)
age = (today - birthdate)
print(age)

6979 days, 0:00:00

Let’s say what we really want is the age in years. You can convert the `age` to a number of days by tacking `.days` onto the timedelta. You can put that in another variable called `days_old`. Printing `days_old` and its `type` shows you that `days_old` is an `int`, a regular old integer you can do maths with:

In [23]:
import datetime as dt
today = dt.date.today()
birthdate = dt.date(2000, 12, 31)
age = (today - birthdate)
days_old = age.days
print(days_old, type(days_old))

6979 <class 'int'>

To get the number of years, divide the number of days by 365. If you want just the number of years as an integer, use the floor division operator (//) rather than regular division (/). Put that in a variable named `years_old` and print that value, as follows:

In [24]:
import datetime as dt
today = dt.date.today()
birthdate = dt.date(2000, 12, 31)
age = (today - birthdate)
days_old = age.days
years_old = days_old // 365
print(years_old)

19

So there you have the age, in years, as 19. If you want the number of months too, you can approximate by taking the remainder of dividing the days by 365 to get the number of days left over. Then floor divide that value by 30 (because on average each month has about 30 days) to get a good approximation of the number of months. Use % for division rather than / to get just the remainder after the division. 

Here's example code on hw to do this

In [25]:
import datetime as dt
# Todays date from the computer
today = dt.date.today()

# Birthday expressed in year, month and day
birthdate = dt.date(2000, 12, 31)

# Calculate number of days between both dates
age = (today - birthdate)

# floor divide by 365 to get number of days
days_old = age.days
years_old = days_old // 365

# Remainding dats is the remainder of days_old
# divided by 30
months_old = (days_old % 365) // 30

print(f"This person is {years_old} years and {months_old} months old")

This person is 19 years and 1 months old